@use "global" as *;

.blog-card {
  padding: rem(16) rem(16) rem(24);
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: .25);
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: rem(16) rem(16) rem(23);
  }
}

.blog-card__img img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blog-card__head {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(16);
  }
}

.blog-card__date {
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-family: $font-gotu;
}

.blog-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.7;
  // padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
  flex-grow: 1;
}

.blog-card__text {
  margin-top: rem(16);
  flex-grow: 1;
}

.blog-card__text p {
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  letter-spacing: .01em;
}
