@use "global" as *;

.breadcrumb__items {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.breadcrumb__item {
  font-size: rem(14);
  line-height: calc(20 / 14);
  display: inline-flex;
  align-items: center;
}

.breadcrumb__item:nth-child(n+2)::before {
  content: '';
  width: rem(6);
  height: rem(6);
  border-right: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg);
  margin-right: rem(6);
}
