@use "global" as *;

.card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: .25);
}

.card__img img {
  aspect-ratio: 333 / 223;
  object-fit: cover;
  width: 100%;
}

.card__body {
  padding: rem(16) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: rem(24) rem(16) rem(40);
  }
}

.card__category {
  font-size: rem(12);
  line-height: 1.7;
  color: $green;
  display: inline-block;
  padding: rem(4) rem(11);
  min-width: rem(106);
  border: rem(1) solid $green;
  @include mq(md) {
    min-width: rem(116);
    padding: rem(6) rem(14);
  }
}

.card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(24 / 16);
  margin-top: rem(4);
}

.card__content {
  margin-top: rem(7);
  border-top: rem(1) solid $green;
}

.card__text {
  margin-top: rem(9);
  text-align: center;
  @include mq(md) {
    margin-top: rem(16);
  }
}

.card__text p {
  font-size: rem(14);
  line-height: calc(24 / 16);
  @include mq(md) {
    font-size: rem(16);
  }
}

.card__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: rem(9);
  @include mq(md) {
    margin-top: rem(7);
  }
}

.card__price.card__price--sm {
  justify-content: start;
  padding-left: rem(17);
}

.card__price-normal {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  @include mq(md) {
    font-size: rem(24);
  }
}

.card__price-normal span {
  background-image: linear-gradient(#C94800, #C94800);
  background-position: 0 50%;
  background-size: 100% rem(3);
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 0 rem(2);
}

.card__price-sale {
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  color: $green;
  margin-left: rem(16);
  @include mq(md) {
    font-size: rem(40);
    margin-left: rem(24);
  }
}
