@use "global" as *;

.cards2 {
  display: grid;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.cards2__content {
  max-width: rem(500);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.cards2__content:nth-child(n+2) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}
