@use "global" as *;

.title__main {
  font-size: rem(32);
  font-weight: $normal;
  line-height: 1;
  font-family: $font-gotu;
  text-align: center;
  @include mq(md) {
    font-size: rem(40);
  }
}

.title.title--lg .title__main {
  font-size: rem(80);
  text-shadow: 0 rem(4) rem(4) rgba($color: #000000, $alpha: .25);
  @include mq(md) {
    text-shadow: none;
    letter-spacing: .01em;
  }
}

.title__main::first-letter {
  color: $green;
}

.title.title--white .title__main::first-letter {
  @include mq(md) {
    color: $white;
  }
}

.title.title--white .title__main {
  @include mq(md) {
    color: $white;
  }
}

.title.title--lg .title__main::after {
  bottom: rem(14);
  @include mq(md) {
    bottom: rem(16);
  }
}

.title__sub {
  font-size: rem(12);
  font-weight: $normal;
  line-height: calc(18 / 12);
  color: $green;
  text-align: center;
  margin-top: rem(8);
}

.title__sub.title__sub--mt {
  margin-top: rem(-8);
}

.title.title--white .title__sub {
  @include mq(md) {
    color: $white;
  }
}
